doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/bootstrap.min.js')
    title= 'AE400'
  body(class='bg-light',onload='init()')
    block content
    nav(class='navbar fixed-top navbar-light text-white bg-primary')
      h3= 'LIPS AE400 Configuration'
    nav(class='navbar fixed-bottom navbar-light text-white bg-primary justify-content-center')
      h6= 'copyright © LIPS corporation. all rights reserved'
